@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');



/*main layout*/

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Slabo 13px", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: "Source Sans 3", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-nav{
    background-color: rgba(12, 9, 9, 0.1);
    backdrop-filter: blur(40px);
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0.4rem;
    margin: 0;
}

.top-nav ul {
    padding: 0.6rem;
    margin: 0;
    display: flex;
}
.top-nav li {
    margin: 0 1rem;
    list-style-type: none;
}
.top-nav a{
    text-decoration: none;
}

.main-area {
    display: flex;
    flex-grow: 1;
}


/*side nav with login*/
.side-nav {
    background-color: #2B3748;
    color: #f7db95;
    width: 13rem;
    padding: 0.6rem;
    flex-shrink: 0;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-nav a {
    text-decoration: none;
    color: #f7db95;
}

.side-nav li {
    margin: 1rem 0;
    text-align: left;
    padding: 1rem;
}

/*.modal {*/
/*    display: none;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(0, 0, 0);*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: 15% auto;*/
/*    padding: 1.25rem;*/
/*    border: 0.6rem solid #888;*/
/*    width: 80%;*/
/*}*/

/*.close{*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 1.7em;*/
/*    font-weight: bold;*/
/*}*/
/*.close:hover,*/
/*.close:focus {*/
/*    color: #aaa;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    position: relative;
}

/*main layout ends here*/

/*home page */
.cafe-image {
    margin-left: 2rem;
    width:70%;
    height:auto;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem 0.5rem gray;
}

#statement{
    display: flex;
    position: absolute;
    align-self: flex-start;
    flex-direction: column;
    color: #B4D2E3;
    margin-right: 8rem;
    text-align: justify;
}

#mystic{
    color: #9C7F6D;
    font-variant: small-caps;
    font-size: 7em;
    margin-left: 4rem;
    text-shadow: 0.1em 0.1em 0.2em #2B3748;
}

#twilight, #slogan-2{
    background: -webkit-linear-gradient(152deg, #9C7F6D 0%, #f7db95 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.1em 0.1em 0.2em #2B3748;
}

#slogan-1{
    text-align: center;
    margin-left: 6rem;
    text-shadow: 0.1em 0.1em 0.2em #2B3748;
}

#slogan-3{
    text-align: right;
    margin-left: 8rem;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em #2B3748;
}

.fa-bag-shopping {
    color: #2B3748;
}

/*menu*/

.menu-container {
    display: flex;
    flex-direction: column;
}
.restaurant-name {
    color: #B4D2E3;
}
.section-name {
    display: flex;
    margin: 4rem 3rem 3rem 4rem;
    color: #f7db95;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: auto;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background-color: rgba(180, 210, 227, 0.2);
    gap: 0.5rem;
    flex-flow: wrap;
}

.card img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.card p {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: auto;
    font-size: 1em;
    margin: 0.5rem 0;
    font-weight: 600;
    color: #9C7F6D;
}

#menu-items {
    display: flex;
    align-self: center;
    margin-left: 0.4rem;
    flex-direction: row;
}

#add-form {
    display: flex;
    align-self: center;
    align-content: center;
    gap: 0.5rem;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#add-to-cart {
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    background-color: #2B3748;
    font-weight: bolder;
    color: #f7db95;
}

#price {
    margin-left: 0.25rem;
    color: #2B3748;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}


#menu-item-name {
    color: #9C7F6D;
    font-size: 1.1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

.decrease-btn, .increase-btn {
    border-radius: 50%;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background-color: #2B3748;
    box-shadow: 0.14rem 0.1rem rgba(0, 0, 0, 0.3);
    border: none;
}
.fa-plus,.fa-minus {
    color: #f7db95;
    margin-top: 0.4rem;
}

/*cart*/
.total-quantity  {
    text-align: center;
}
.remove-btn, .update-btn {
    border: none;
    color: #f7db95;
}
.cart-item-name {
    color: #9C7F6D;
    margin-bottom: 3rem;
}
.cart-table{
    border-collapse: separate;
    border-spacing: 5em;
    text-align: left;
    border-bottom-style: inset;
    border-bottom-width: 0.1rem;
    border-color: #2B3748;
}

.cart-table th {
    text-align: center;
    color: #f7db95;
}
.cart-item-img{
    height: 5rem;
    width: 5rem;
}
.grand-total {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    color: #B4D2E3;
}
.back-btn {
    text-decoration: none;
    color: #2B3748;
    margin-left: 2rem;
    align-self: baseline;
}

/*login*/
/*.blend {*/
/*    display: flex;*/
/*    background-size: cover;*/
/*    background: url("static/images/galaxy1.png") no-repeat center;*/
/*    background-blend-mode: hard-light;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*}*/

.form-container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;

}
.auth-form {
    align-self: center;
    margin-left: 4rem;
    margin-bottom: 2rem;
    width: 50%;
}
.auth-form h2 {
    text-align: center;
    margin-right: 9.5rem;
    margin-bottom: 2rem;
    color: #9C7F6D;
}
.form-container img{
    width: 50%;
    height: auto;
}

.form-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.form-container button {
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 20%;
    align-self: center;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    background-color: #2B3748;
    font-weight: bolder;
    color: #f7db95;

}
.form-container fieldset {
    border: none;
    text-align: left;
    max-width: fit-content;
    margin: auto;
}
.form-container label{
    justify-self: left;
}

.form-container input {
    outline: none;
    border-width: 0 0 0.1rem;
    margin-bottom: 2rem;
    border-color: #f7db95;
    font-size: 1rem;
}

.form-container p, input::placeholder {
    color: #9C7F6D;
}
.form-container a {
    margin-left: 1rem;
    text-decoration: none;
    color: #B4D2E3;
}
