<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
    <h1>Items added to your bag: </h1>
    <div th:if="${cart.items.size() == 0}">
        <p>You have not added anything to your bag.</p>
    </div>

    <table th:if="${cart.items.size() > 0}">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cartItem : ${cart.items}">
                <td th:text="${cartItem.menuItem.name}">Item Name</td>
                <td>
                    <div class="quantity-buttons">
                        <form th:action="@{/cart/update/{itemId}/(itemId=${cartItem.menuItem.id})}" method="post">
                            <span><button class="decrease-btn"><i class="fa-solid fa-minus fa-sm"></i></button></span>
                            <input class="count" type="number" name="quantity" value="1" min="1" style="width: 1.5rem;">
                            <span><button class="increase-btn"><i class="fa-solid fa-plus fa-sm"></i></button></span>
                            <input type="hidden" name="quantity" th:value="${cartItem.quantity}" class="quantity-input" />
                            <button type="submit" style="display:none">Update</button>
                        </form>
                    </div>
                </td>
                <td th:text="${cartItem.getPrice()}">Total Price</td>
                <td>
                    <form th:action="@{/cart/remove/{itemId}(itemId=${cartItem.menuItem.id})}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Total: <span th:text="${cart.calculateGrandTotal()}">0</span></h2>
</body>
</html>

