<nav class="side-nav" th:fragment="side-nav">
    <ul>
        <li><a href="/login">Login &nbsp; &nbsp; <i class="fa-solid fa-sign-in"></i></a></li>
        <li><a href="/"><i class="fa-solid fa-house"></i> &nbsp; Under the Stars</a></li>
        <li><a href="/menu"><i class="fa-solid fa-mug-hot"></i> &nbsp; Starlight Delights</a></li>
        <li><a href="#about"><i class="fa-solid fa-hand-sparkles"></i> &nbsp; Unveiling the Mystique</a></li>
    </ul>
</nav>


<nav class="top-nav" th:fragment="top-nav">
    <li><a href="/cart"><i class="fa-solid fa-bag-shopping fa-xl"></i></a></li>
</nav>


<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Mystic Twilight</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

</head>