<!DOCTYPE html>
<html lang="en" >
    <head th:replace="~{fragments :: head}"></head>
    <body>
        <div class="container">
            <div class=menu-container th:if="${cafeMenu.restaurantName}">
                <nav th:replace="~{fragments :: top-nav}"></nav>
                <div class="main-area">
                    <nav th:replace="~{fragments :: side-nav}"></nav>
                    <div class="main-content">
                        <h1 class="restaurant-name" th:text="${cafeMenu.restaurantName} + ' Delights'"></h1>
                        <div class="section-container" th:each="section : ${cafeMenu.menuSections}">
                            <h2 class="section-name" th:text="${section.name}"></h2>
                            <div class="card-container">
                                <div class="card" th:each="item : ${section.items}">
                                    <img th:src="@{${item.imageUrl}}" alt="Menu Item">
                                    <section id="menu-items">
                                        <strong id="menu-item-name" th:text="${item.name}"></strong> <span id="price">  $<span th:text="${#numbers.formatDecimal(item.price, 1, 2)}"></span></span>
                                    </section>
                                    <form id="add-form" th:action="@{/cart/add}" method="post" >
                                        <input type="hidden" name="menuItemId" th:value="${item.id}">
                                        <input type="hidden" name="cartId" th:value="${cartId}">
                                        <span><button class="decrease-btn"><i class="fa-solid fa-minus fa-sm"></i></button></span>
                                        <input class="count" type="number" name="quantity" value="1" min="1" style="width: 1.5rem;">
                                        <span><button class="increase-btn"><i class="fa-solid fa-plus fa-sm"></i></button></span>
                                        <button type="submit" id="add-to-cart">Add</button>
                                    </form>
                                    <p th:text="${item.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascript/app.js"></script>
    </body>
</html>