<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
  <h1>Register your account</h1>
      <form action="/register" method="post">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" th:placeholder="name">
          <label for="email" >Email</label>
          <input type="email" name="email" id="email" th:placeholder="email" />
          <br>
          <label for="password" >Password</label>
          <input type="password" name="password" id="password" th:placeholder="password" />
          <button type="submit">Signup</button>
      </form>
</body>
</html>